body {
    padding: 5px
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-content: center;
    row-gap: 25px;
    column-gap: 15px; */
    /* gap: 70px 20px; */
    /* flex-flow row wrap */
    /* justify-content: space-around;
    align-items: center; */
    padding: 5px;
    /* width: 400px; */
    height: 600px;
    border: 2px solid black;
}

div {
    border: 2px solid black;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    background-color: gray;
    font-size: 2em;
    font-family: system-ui, sans-serif;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 5px;
}

.a1 {
    order: -2;
    flex-shrink: 1;
    flex-basis: auto;
}

.a2 {
    order: 0;
    flex-grow: 1;
    /* flex: 0 1 auto; */
}

.a3 {
    order: 0;
    flex-grow: 1;
    align-self: flex-end;
}